Package: libringing-dev
Version: 0.4.0-1
Architecture: amd64
Maintainer: Leigh Simpson <code@simpleigh.com>
Depends: libreadline6, libgdome2-0, libc6-dev
Section: libdevel
Priority: optional
Homepage: http://ringing-lib.sourceforge.net/
Description: Ringing Class Library
 The Ringing Class Library is a collection of C++ classes which represent the
 objects studied in English change ringing. These include rows, changes, methods
 and method libraries.
Installed-Size: 3249
